## Sample Structure of Data

In [ ]:
{'Supplier Name': 'Infosys',
 'Region': 'APAC',
 'Country': 'India',
 'Function': 'IT & Infrastructure',
 'Service': 'Applications Development',
 'Avg. Cost($)': '100k',
 'Rating': '90',
 'Average Delivery Time': '90',
 'Number of Escalations': '5',
 'Year': '2018',
 'Resources': '10000'}

## Merging List of Random Companies

In [46]:
df = pd.read_csv('DataSets/brandirectory-ranking-data-it-services-{}.csv'.format(year))
df.head(5)

,Brand,Position,Previous Position,Brand Value ($M),Previous Brand Value ($M),Rating,Previous Rating,Year,Previous Year
0,accenture,1,1,36190.05,26028.06,AAA,AAA,NaN,NaN
1,TCS,2,3,16785.90,14924.34,AAA-,AAA-,NaN,NaN
2,Infosys,3,4,12777.00,8402.05,AAA-,AAA-,NaN,NaN
3,IBM Consulting,4,2,10582.40,16056.73,AAA,AAA-,NaN,NaN
4,Cognizant,5,5,8735.42,8031.83,AA,AA+,NaN,NaN

In [47]:
No_Years = [2014+i for i in range(0,9)]
print(No_Years)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [48]:
import pandas as pd

Company_List = []

for year in No_Years:
    
    df = pd.read_csv('DataSets/brandirectory-ranking-data-it-services-{}.csv'.format(year))
    Company_List.extend(list(df.Brand))
    
Company_List = list(set(Company_List))
print(Company_List)

['Tieto', 'Accenture', 'Fujitsu', 'Atos', 'TCS', 'Bechtle', 'HPE (IT Services)', 'Cognizant', 'IBM (IT Services)', 'HCL', 'Bechtle (IT Services)', 'CTC', 'accenture', 'Ntt Data', 'Hewlett Packard Enterprise', 'IBM', 'NEC (IT Services)', 'IBM Consulting', 'Tech Mahindra', 'Xerox', 'Nec', 'Sabre', 'SAIC', 'EPAM', 'DXC Technology', 'Sopra Steria', 'Conduent', 'Capgemini', 'CGI', 'LTI', 'FIS', 'Globant', 'Thoughtworks', 'Samsung SDS', 'Wipro', 'Cap Gemini', 'Infosys', 'HP', 'Fujitsu (IT Services)', 'Computer Sciences']

In [49]:
New_Companies = []
for i in Company_List:
    if "(IT Services)" in i:
        New_Companies.append(i.split(" ")[0])
    else:
        New_Companies.append(i)
        
Company_List = New_Companies.copy()
print("The List of Companies:\n",Company_List)
print()
print("Tota Companies Till Now:",len(Company_List))

The List of Companies:
 ['Tieto', 'Accenture', 'Fujitsu', 'Atos', 'TCS', 'Bechtle', 'HPE', 'Cognizant', 'IBM', 'HCL', 'Bechtle', 'CTC', 'accenture', 'Ntt Data', 'Hewlett Packard Enterprise', 'IBM', 'NEC', 'IBM Consulting', 'Tech Mahindra', 'Xerox', 'Nec', 'Sabre', 'SAIC', 'EPAM', 'DXC Technology', 'Sopra Steria', 'Conduent', 'Capgemini', 'CGI', 'LTI', 'FIS', 'Globant', 'Thoughtworks', 'Samsung SDS', 'Wipro', 'Cap Gemini', 'Infosys', 'HP', 'Fujitsu', 'Computer Sciences']

Tota Companies Till Now: 40

In [50]:
ListOfCountries = ['australia' , 'india' , 'japan' , 
                   'russia' , 'software-industry' , 'united-kingdom']


for country in ListOfCountries:
    df = pd.read_csv('DataSets/list-of-companies-in-{}.csv'.format(country))
    Company_List.extend(list(df['For more information such as company website, company description, industry, CEO, founder, and more upload this file to https://powrbot.com/company-search/ to get the latest information from the web.']))

In [51]:
Company_List = list(set(Company_List))
print(Company_List[0:10])
print("Tota Companies Till Now:",len(Company_List))

['spectrum polymers ltd', 'probation board for northern ireland', 'evolution of search', 'jenny macklin mp', 'polar electronic industries pty ltd', 'i3 resourcing', 'blueprint employment and training inc', 'maiden marketing and communications limited', 'london wall partners llp', 'parkers jewellers']
Tota Companies Till Now: 771972

## Creating Region-List of all Countries

In [52]:
Region_List = {
    "Africa" : ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 
                'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros',
                "Cote d'Ivoire", 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 
                'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 
                'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar',
                'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 
                'Nigeria', 'Republic of the Congo', 'Reunion', 'Rwanda', 
                'Saint Helena', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 
                'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 
                'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Western Sahara', 'Zambia', 'Zimbabwe'],
    
    "Asia": ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Burma', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia', 'Hong Kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macau', 'Malaysia', 'Maldives', 'Mongolia', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemem'],
    "Caribbean" :['Anguilla', 'Antigua and Barbuda', 'Aruba', 'The Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands'] ,
    "Central America" : ['Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama'],
    "Europe" : ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Holy See', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Slovak Republic', 'Slovenia', 'Spain', 'Serbia', 'Serbia and Montenegro', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    "North America" : ['Canada', 'Greenland', 'Mexico', 'Saint Pierre and Miquelon', 'United States', 'Caribbean', 'Central America'],
    "Oceania" : ['American Samoa', 'Australia', 'Christmas Island', 'Cocos (Keeling) Islands', 'Cook Islands', 'Federated States of Micronesia', 'Fiji', 'French Polynesia', 'Guam', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Caledonia', 'New Zealand', 'Niue', 'Northern Mariana Islands', 'Palau', 'Papua New Guinea', 'Pitcairn Islands', 'Samoa', 'Solomon Islands', 'Tokelau', 'Tonga', 'Tuvalu', 'Vanuatu', 'and Wallis', 'Futuna Islands'],
    "South America": ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Falkland Islands', 'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'] 
}

In [53]:
import json

f = json.dumps(Region_List)
with open('Region_List.json' , 'w') as k:
    k.write(f)

In [54]:
Function_List = ["IT & Infrastructure" , "Consulting" , "HR" , "Software" , 
                 "Marketing" ,"Insurance" , "Finance" , "Applications Development"]
print(No_Years)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

## Creating 7 Million Sample Data 
## -- Random Generator
#### Structure of Data:
{'Supplier Name': 'Infosys',
 'Region': 'APAC',
 'Country': 'India',
 'Function': 'IT & Infrastructure',
 'Service': 'Applications Development',
 'Avg. Cost($)': '100k',
 'Rating': '90',
 'Average Delivery Time': '90',
 'Number of Escalations': '5',
 'Year': '2018',
 'Resources': '10000'}

### Random Generator using BoxMullerFormula

In [55]:
import random 
import math

def BoxMullerFormula(a,b):
    c = math.sqrt(-2 * math.log(a)) * math.cos(2 * math.pi * b)
    d = math.sqrt(-2 * math.log(a)) * math.sin(2 * math.pi * b)
    return (c,d)
def BoxM(): 
     while 1:
        Rand01 = random.random()
        Rand02 = random.random()
        (a,b) = BoxMullerFormula(Rand01,Rand02)
        yield a 
        yield b

In [56]:

Final_Dict_Data = []

for year in No_Years:
    for company in Company_List:
        curr_Dict = {}
        curr_Dict['Supplier Name'] = company
        curr_Dict['Region'] = random.choice(list(Region_List.keys()))
        curr_Dict['Country'] = random.choice(Region_List[curr_Dict['Region']])
        curr_Dict['Function'] = random.choice(Function_List)
        curr_Dict['Avg. Cost($)'] = random.randrange(50,500,50)
        curr_Dict['Rating'] = random.randrange(10,100,10)
        curr_Dict['Average Delivery Time'] = random.randrange(100,1000,10)
        curr_Dict['Number of Escalations'] = random.randrange(5,500,5)
        curr_Dict['Year'] = year
        curr_Dict['Resources'] = random.randrange(1000,10000,1000)
        
        Final_Dict_Data.append(curr_Dict)
        
print("The Total Lenght of Final Data:",len(Final_Dict_Data))

The Total Lenght of Final Data: 6947748

## Final Data is of Almost 1 GB 
### -> To Make it faster spliting data into multiple packets of data
### -> Storing them in pickle file in the binary mode

In [57]:
No_of_Parts = len(Final_Dict_Data)//6
list_of_lists = [Final_Dict_Data[i:i+No_of_Parts] for i in range(0, len(Final_Dict_Data),No_of_Parts)]

In [58]:
print("Lenght of each item in list:",len(list_of_lists[0]))
print("Lenght of Overall list:",len(list_of_lists))

Lenght of each item in list: 1157958
Lenght of Overall list: 6

In [59]:
count = 1
for eachItem in list_of_lists:
    with open("Final_Data_of_Supplier{}.pkl".format(count) , 'wb') as f:
        pickle.dump(eachItem, f)
    count += 1