## Sample Structure of Data

In [ ]:
{'Supplier Name': 'Infosys',
 'Region': 'APAC',
 'Country': 'India',
 'Function': 'IT & Infrastructure',
 'Service': 'Applications Development',
 'Avg. Cost($)': '100k',
 'Rating': '90',
 'Average Delivery Time': '90',
 'Number of Escalations': '5',
 'Year': '2018',
 'Resources': '10000'}

## Merging List of Random Companies

In [14]:
df = pd.read_csv('DataSets/brandirectory-ranking-data-it-services-{}.csv'.format(year))
df.head(5)

,Brand,Position,Previous Position,Brand Value ($M),Previous Brand Value ($M),Rating,Previous Rating,Year,Previous Year
0,accenture,1,1,36190.05,26028.06,AAA,AAA,NaN,NaN
1,TCS,2,3,16785.90,14924.34,AAA-,AAA-,NaN,NaN
2,Infosys,3,4,12777.00,8402.05,AAA-,AAA-,NaN,NaN
3,IBM Consulting,4,2,10582.40,16056.73,AAA,AAA-,NaN,NaN
4,Cognizant,5,5,8735.42,8031.83,AA,AA+,NaN,NaN

In [18]:
No_Years = [2014+i for i in range(0,9)]
print(No_Years)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [17]:
import pandas as pd

Company_List = []

for year in No_Years:
    
    df = pd.read_csv('DataSets/brandirectory-ranking-data-it-services-{}.csv'.format(year))
    Company_List.extend(list(df.Brand))
    
Company_List = list(set(Company_List))
print(Company_List)

['Tieto', 'Accenture', 'Fujitsu', 'Atos', 'TCS', 'Bechtle', 'HPE (IT Services)', 'Cognizant', 'IBM (IT Services)', 'HCL', 'Bechtle (IT Services)', 'CTC', 'accenture', 'Ntt Data', 'Hewlett Packard Enterprise', 'IBM', 'NEC (IT Services)', 'IBM Consulting', 'Tech Mahindra', 'Xerox', 'Nec', 'Sabre', 'SAIC', 'EPAM', 'DXC Technology', 'Sopra Steria', 'Conduent', 'Capgemini', 'CGI', 'LTI', 'FIS', 'Globant', 'Thoughtworks', 'Samsung SDS', 'Wipro', 'Cap Gemini', 'Infosys', 'HP', 'Fujitsu (IT Services)', 'Computer Sciences']

In [24]:
New_Companies = []
for i in Company_List:
    if "(IT Services)" in i:
        New_Companies.append(i.split(" ")[0])
    else:
        New_Companies.append(i)
        
Company_List = New_Companies.copy()
print("The List of Companies:\n",Company_List)
print()
print("Tota Companies Till Now:",len(Company_List))

The List of Companies:
 ['Tieto', 'Accenture', 'Fujitsu', 'Atos', 'TCS', 'Bechtle', 'HPE', 'Cognizant', 'IBM', 'HCL', 'Bechtle', 'CTC', 'accenture', 'Ntt Data', 'Hewlett Packard Enterprise', 'IBM', 'NEC', 'IBM Consulting', 'Tech Mahindra', 'Xerox', 'Nec', 'Sabre', 'SAIC', 'EPAM', 'DXC Technology', 'Sopra Steria', 'Conduent', 'Capgemini', 'CGI', 'LTI', 'FIS', 'Globant', 'Thoughtworks', 'Samsung SDS', 'Wipro', 'Cap Gemini', 'Infosys', 'HP', 'Fujitsu', 'Computer Sciences']

Tota Companies Till Now: 40